<div class="py-4 grid grid-cols-5 text-bolder border-b border-gray-400">
  <div class="col-span-3"><%= user.value %></div>
  <div>User:<%= user.user.id %></div>
  <div><%= user.created_at.strftime("%H:%M %d %b %Y") %></div>
</div>
